/*
 Theme Name:   Chicago Pub Kitchener
 Description:  Custom-built theme for Chicago Pub Kitchener.
 Author:       Pat Monette
 Template:     understrap
 Version:      1.2.0
 Text Domain:  chicagopub
*/
