@font-face {
    font-family: 'Binner';
    src: url('../fonts/BinnerRegular.woff2') format('woff2'),
        url('../fonts/BinnerRegular.woff') format('woff'),
        url('../fonts/BinnerRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
