.section-gallery {
	.gallery-item {
		img {
			border-radius: 6px;
			transition: 0.3s;

			&:hover {
				transform: scale(1.05);
			}
		}

		@include media-breakpoint-down(md) {
			padding-left: .5rem;
			padding-right: .5rem;
			max-width: 33.3333%;
		}
	}
}