.section-menus {
	color: $white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	@include media-breakpoint-up(lg) {
		background-attachment: fixed;	
	}

	text-align: center;

	.overlay {
		padding: 4rem 0;
		display: block;
		background: rgba(0,0,0,.91);
	}

	.menu-icon {
		margin-bottom: 1rem;
		transition: .3s;
	}

	.menu {
		margin: 2rem 0;
		&:hover {
			.menu-icon {
				transform: scale(1.1);
			}
		}
	}
}