.section-food {
	text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;

    @include media-breakpoint-up(lg) {
		padding-left: 8rem;
        padding-right: 8rem;
	} 

	.ubereats p {
		margin-bottom: 0;
	}

	.food-slider {
		margin: 4rem auto;
		max-width: 1900px;
	}

	.food-item {
		padding-top: 1rem;
		border: 0;
		text-align: center;

		img {
			margin: 0 auto 1rem auto;
			border-radius: 50%;
			border: 4px solid rgba(0,0,0,0.35);
			transition: 0.2s;
		}

		a {
			font-size: 1rem;

			&:focus {
				outline: 0;
				box-shadow: none;
			}
		}

		&:hover {
			img {
				transform: scale(1.05);
			}

			a {
				text-decoration: none;
			}
		}
	}
}