.home #full-width-page-wrapper {
	padding-top: 0;
}

.section-heading {
	font-size: 3.25rem;
}

.section-about {
	padding: 8rem 0;

	.about-heading {
		padding-bottom: .5rem;
		border-bottom: 4px solid $primary;
		font-size: 2rem;
		line-height: 1;

		@include media-breakpoint-up(md) {
			font-size: 4rem;
		}
	}

	.about-image {
		position: relative;

		@include media-breakpoint-down(lg) {
			margin-top: 4rem;
		}

		img {
			display: block;
			margin: 0 auto;
		}

		.about-logo {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%,-50%);

			img {
				max-width: 120px;
			}
		}
	}
}

.section-billiards {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	@include media-breakpoint-up(lg) {
		background-attachment: fixed;	
	}
	.overlay {
		padding: 4rem 0;
		background: rgba(255,255,255,.94);
	}
	text-align: center;

	.section-heading {
		margin-bottom: 3rem;
	}

	.billiards-text {
		padding: 0 2rem;
		text-align: left;

		h2 {
			display: inline-block;
			margin-top: 1rem;
			border-bottom: 4px solid $primary;
			font-size: 2rem;

			@include media-breakpoint-up(lg) {
				font-size: 2.5rem;
			}
		}

		p {
			font-family: $headings-font-family;
			font-size: 1.5rem;
			line-height: 1.5;
		}
	}
}
